<head>
  <meta charset="utf-8">
  <meta name="description" content="Curricullum Vitae Fernando Pérez Gutiérrez. Información profesional de Fernando Pérez Gutiérrez." />
  <meta name="author" content="Fernando Pérez Gutiérrez" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fernando Pérez Gutiérrez</title>
  <link rel="canonical" href="https://fernaper.github.io/curriculum/" />
  <link rel="icon" href="assets/img/fernaper_logo.png" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/base/style.css" />
  <link rel="stylesheet" href="assets/base/timeline/style.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css" />
  <link rel="stylesheet" href="assets/base/github-activity/style.css" />
  <link rel="stylesheet" href="assets/base/print.css" media="print" />

  {% asset application.css %}
</head>
